// 👉 Avatar group
.v-avatar-group {
  display: flex;
  align-items: center;

  > * {
    &:not(:first-child) {
      margin-inline-start: -0.8rem;
    }

    transition: transform 0.25s ease, box-shadow 0.15s ease;

    &:hover {
      z-index: 2;
      transform: translateY(-5px) scale(1.05);
    }
  }

  > .v-avatar {
    border: 3px solid rgb(191, 185, 185, 0.4);
  }
}

// 👉 Avatar group
.v-avatar-bordered {
  display: flex;
  align-items: center;

  > .v-avatar {
    border: 5px solid rgb(191, 185, 185, 0.1);
  }
}
